.inside
	padding: 17.5rem 10%
	.intro
		margin-bottom: 3rem
		.content-wrap
			max-width: 88rem


.home 
	.inside
		padding-bottom: 13.125rem
	.intro
		margin-bottom: 0

.contact
	.inside
	.intro
		.content-wrap
			max-width: 61rem

.work-inside
	.intro
		margin-bottom: 8.75rem